In [65]:
import pandas as pd
import numpy as np

# 1

In [80]:
pd.__version__

'2.2.2'

In [66]:
df = pd.read_csv(r"C:\Users\kenzo\Desktop\New folder\car_fuel_efficiency.csv")
df.head(7)

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369
5,190,3.0,NaN,2484.883986,14.7,2008,Europe,Gasoline,All-wheel drive,-1.0,17.271818
6,240,7.0,127.0,3006.542287,22.2,2012,USA,Gasoline,Front-wheel drive,1.0,13.210412

# 2

In [72]:
df.shape

(9704, 11)

# 3

In [74]:
df.fuel_type.nunique()

2

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9704 entries, 0 to 9703
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   engine_displacement  9704 non-null   int64
 1   num_cylinders        9222 non-null   float64
 2   horsepower           9704 non-null   float64
 3   vehicle_weight       9704 non-null   float64
 4   acceleration         8774 non-null   float64
 5   model_year           9704 non-null   int64
 6   origin               9704 non-null   object
 7   fuel_type            9704 non-null   object
 8   drivetrain           9704 non-null   object
 9   num_doors            9202 non-null   float64
 10  fuel_efficiency_mpg  9704 non-null   float64
dtypes: float64(6), int64(2), object(3)
memory usage: 834.1+ KB

# 4

In [76]:
df.isna().sum()

engine_displacement      0
num_cylinders          482
horsepower               0
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

# 5

In [77]:
df[df.origin == "Asia"].fuel_efficiency_mpg.max()

23.759122836520497

# 6

In [78]:
median = df.horsepower.median()
mode = df.horsepower.mode()
print("mode is " , mode[0])

df.horsepower = df.horsepower.fillna(mode[0])
median_new = df.horsepower.median()
print("median before is ", median)
print("median after is ", median_new)

mode is  152.0
median before is  152.0
median after is  152.0

# 7

In [79]:
x = np.array(df[df["origin"] == "Asia"].loc[:,["vehicle_weight", "model_year"]].head(7))
xtx = x.T @ x
xtx_inv = np.linalg.inv(xtx)
y = [1100, 1300, 800, 900, 1000, 1100, 1200]
w = (xtx_inv @ x.T) @ y
result = w.sum()
print(result)

0.5187709081074007